.header-section {
    background-image: url(../../image/Photo_20of_20a_20professional_20pharmacist_20checking_20stock_20in_20an_20aisle_20of_20a_20local_20drugstore_202.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}